# Ignore environment variable files
.env
../../.env
../../../../.env/
../../../.env/
__init__
# Ignore other unnecessary files and directories
core-service/
__pycache__/
*.pyc
*.log
letsencrypt
redis.conf
data